body {
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Hind', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  /* font-weight: 400; */
}

#timeline {
  width: 100%;
}

#design-process {
  padding-top: 0.25%;
  background-color: #DAD2E9;
  padding-bottom: 0.1%;
}

#design-process > div {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  /* font-size: 39pt; */
}

#design-process img {
  width: 30vw;
}

#design-process p {
  font-size: 1.25em;
  width: 30vw;
}

@media only screen and (orientation: landscape) {
  #design-process p {
    font-size: 1.25em;
    width: 30vw;
  }

}

@media only screen and (orientation: portrait) {
  #design-process p {
    font-size: 2vw;
    width: 30vw;
  }

}

.grid-container {
  display: grid;
  /* width: 90%; */
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  row-gap: 0px;
  justify-content: center;
  align-items: center;
}

.grid-item {
  resize: none;
  justify-content: center;
}

@media only screen and (orientation: landscape) {
  .grid-item p {
    resize: none;
    /* margin-bottom: 0; */
    padding-left: 5%;
    padding-right: 5%;
    /* text-align: center; */
    font-size: x-large;
  }

}

@media only screen and (orientation: portrait) {
  .grid-item p {
    resize: none;
    /* margin-bottom: 0; */
    padding-left: 2%;
    padding-right: 2%;
    /* text-align: center; */
    font-size: 2vw;
  }

}

.grid-item img {
  width: 50vw;
  height: 30vw;
  object-fit: cover;
  text-align: center;
}

button {
  font-size: larger;
  color: black;
  background-color: #e0c27b;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border-style: solid;
  border-width: 5px;
  border-color: #B8A67B;
  text-align: center;
  /* width: 100%; */
}

button:hover {
  background-color: #B8A67B;
}

#p-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

