#calendar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

iframe {
  width: 100%;
  min-height: 100%;
}

#calendar {
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  width: 80%;
  background-color: red;

}

#events {
  width: 20%;
  min-height: 100%;
  background-color: blue;
  padding: 1px;
  margin-left: 2rem;
  margin-right: 2rem;

}


