#center-text {
    width: 1000px;
    padding-left: 720px;
    /* text-align: center; does not work some reason :( */
    font-family: 'Gothic A1', sans-serif;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Gothic A1', sans-serif;
    background-color: #D9D9D9;
  }
  
  input[type=submit] {
    background-color: #B7A57A;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    width: 200px;
  }
  
  input[type=submit]:hover {
    background-color: #938462;
  }
  
  .container {
    border-radius: 5px;
    padding-left: 750px;
    padding-right: 750px;
    font-size: 25px;
  }

  .submit-container {
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .submit-container label {
    margin-left: 8px;
  }

  .submit-container input[type=submit] {
    margin-right: 16px;
  }
  