#center-text {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}

#contact {
  width: 100%;
  padding-bottom: 1vh;
}

.container {
  /* padding-top: 50px; */
  padding-bottom: 5rem;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 75%;
  margin: 1rem 1rem 2.5rem 1rem;
  padding: 1.25rem;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-align: left;
  width: 155%;
}

input[type="text"],
input[type="email"],
textarea {
  width: 150%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 1px;
  background-color: #d9d9d9;
}

.submit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input[type="submit"] {
  background-color: #b7a57a;
  color: black;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  margin-right: 2rem;
  font-size: 1.2rem;
}

input[type="submit"]:hover {
  background-color: #938462;
}

input[type="checkbox"] {
  margin-right: 5px;
  margin-top: 7px;
}

label[for="copy"] {
  margin-top: 10px;
}

@media only screen and (orientation: landscape) {
  #center-text h1 {
    font-size: 2.2rem;
  }
}

@media only screen and (orientation: portrait) {
  #center-text h1 {
    font-size: 1.2rem;
  }

  label {
    font-size: 1.5rem;
  }

  input[type="submit"] {
    width: 30vw;
    height: 10vw;
    margin-top: 2.1rem;
    margin-right: 1rem;
  }
}
