#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 1.5rem auto;
  max-width: 1200px;
}

#gallery div {
  flex-basis: 33.3333%;
}

#gallery img {
  display: inline-flex;
  margin: 1rem;
  object-fit: cover;
  overflow: hidden;
  width: 80vw;
  height: 80vw;
  cursor: pointer;
}

#full-pic {
  position: fixed;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.8);
  inset: 0;
  z-index: 999;
}

#x {
  color: white;
  position: absolute;
  height: auto;
  margin-top: 2.5%;
  margin-right: 2.5%;
  width: 40px;
  top: 0;
  right: 0;
  cursor: pointer;
}

#full-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 1200px;
}

#full-image {
  width: 90vw;
  object-fit: contain;
  margin-bottom: 0;
}

#caption {
  font-weight: 400;
  font-size: 2rem;
  color: white;
  margin-top: 1%;
  text-align: center;
}

.image-arrow {
  width: 4rem;
  height: 4rem;
  z-index: 99;
}

.dim {
  filter: brightness(0.5);
}

@media only screen and (min-width: 768px) {
  #full-image {
    width: 70vw;
    max-height: 40vw;
    max-width: 1200px;
  }

  #gallery img {
    width: 40vw;
    max-width: 360px;
    height: 40vw;
    max-height: 360px;
  }
}
