* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Gothic A1", Hind, Inter, Poppins, sans-serif;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  display: inline-block;
  font-weight: 600;
}

h1 {
  font-size: 4rem;
  padding: 1rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  margin-left: 4%;
  margin-right: 0%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}

select {
  font-size: 2rem;
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3.65rem;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.25rem;
  background: linear-gradient(
    to left,
    #492d82 60%,
    rgba(217, 217, 217, 0) 80.08%
  );
  z-index: 100;
}

#navbar ul {
  display: none;
  margin: 0;
  position: relative;
  font-style: normal;
  font-weight: 400;
}

#navbar ul p {
  font-size: 1.25rem;
}

#navbar > img {
  width: 1.5rem;
  padding: 1rem;
  cursor: pointer;
}

#navbar li {
  list-style-type: none;
}

#navbar li p {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem;
  color: white;
  transition: 0.2s background-color ease-in-out;
}

#navbar li a {
  padding: 1rem 0;
  margin: 0 1rem;
  position: relative;
  display: block;
  text-underline-offset: 0.5rem;
}

#navbar li a.selected {
  text-decoration: underline;
  pointer-events: none;
}

#navbar li p,
#navbar li a {
  color: white;
  transition: 0.2s background-color ease-in-out;
}

#navbar li a:not(.selected)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.75rem;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.225s ease-out;
}

#navbar li a:not(.selected):hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#navbar li.expand a {
  width: fit-content;
  margin: 0 !important;
}

#navbar li.expand img {
  width: 1rem;
}

#navbar li.expand div {
  position: relative;
  display: none;
  width: 0;
  padding: 0 0.5rem;
  background-color: #492d82;
}

#navbar li.expand:hover div {
  display: block;
}

#home-pressable {
  display: block;
  z-index: 10;
  margin: 0.5rem;
}

#home-logo {
  width: 8rem;
  cursor: pointer;
}

#mobile-nav {
  position: absolute;
  top: 3.65rem;
  right: 0;
  display: flex;
  width: 18rem;
  flex-direction: column;
  align-items: flex-end;
  background-color: #492d82;
}

#mobile-nav * {
  color: white;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

#mobile-nav p {
  text-decoration: underline;
}

#title-container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: 100vh;
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  z-index: 0;
  text-align: center;
}

#title-container video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(50%);
}

#big-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 2rem));
  width: 100%;
}

#big-title * {
  font-weight: 400 !important;
}

.title {
  overflow: hidden;
  font-size: 2rem;
}

.title > span {
  position: relative;
  display: inline-block;
  font-weight: 600;
}

.title > span:after {
  content: "";
  position: absolute;
  margin: 0 4vw;
  top: 30%;
  right: 0;
  border-top: 1.5vw solid #b8a67b;
  border-right: 2.5vw solid transparent;
  height: 100%;
  width: calc(85vw - 100%);
  float: none;
}

.title > span:after {
  left: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.25rem;
  background-color: #492d82;
  box-sizing: border-box;
}

footer p {
  font-size: 1rem;
}

footer a,
footer svg {
  color: white;
  height: 2rem;
  width: 2rem;
}

footer a:hover {
  text-decoration: underline;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

@media only screen and (min-width: 768px) {
  #navbar ul {
    display: flex;
  }

  #navbar > img {
    display: none;
  }

  #mobile-nav {
    display: none !important;
  }

  footer {
    flex-direction: row;
  }

  footer br {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    flex-direction: row;
  }

  footer p {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 6rem;
    padding: 0 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  select {
    font-size: 3rem;
  }
}
