body {
  font-family: 'Gothic A1', sans-serif;
  font-style: normal;
}


/*golden companies/values*/
.bar {
  overflow: hidden;
  font-size: 250%;
}

/*adding landscape/rescalability depending on views*/
.bar span {
  position: relative;
  display: inline-block;
  background-color: #B8A67B;
  padding-left: 1%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 18%;
}

.bar span::before {
  content: '';
  position: absolute;
  top: 0; right: 0;
  border-bottom: 10vw solid white;
  border-left: 2vw solid #B8A67B;
  width: 0;
}

#about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5%;
}

#about div p {
  width: 50vw;
}

#about_picture img {
  width: 40vw;
}

#about_picture {
  display: flex;
  align-items: center;
  margin-top: 0%;
}

h2 {
  font-size: 3vw;
}

#about_text p {
  font-size: 1.5vw;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#boxes img {
  max-width: 20%
}

#company_boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

#company_boxes img {
  max-width: 40%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#individuals {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#individuals h3 {
  font-size: 1.75vw;
}

#individuals img {
  width: 1.25vw;
  height: 1.25vw;
}