
/*golden companies/values*/
.bar {
  overflow: hidden;
  font-size: 150%; 
}


.bar span {
  position: relative;
  display: inline-block;
  background-color: #B8A67B;
  padding-left: 1%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 18%;
}

.bar span::before {
  content: '';
  position: absolute;
  top: 0; right: 0;
  border-bottom: 10vw solid white;
  border-left: 2vw solid #B8A67B;
  width: 0;
}

#about {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#about_picture img {
  width: 40vw; 
  margin-right: 10%;
}

/*children div of about*/
#about div {
  width: 50%; 
}