#about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

#about * {
  width: 100%;
}

#about p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
}

#about img {
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

#about_picture {
  display: flex;
  align-items: center;
  margin-top: 0%;
}

#values {
  padding-bottom: 4rem;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

#boxes img {
  width: 40%;
}

#company_boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#company_boxes img {
  width: 35%;
  margin-top: 2%;
  margin-left: 2.5%;
  margin-right: 2.5%;

  margin-bottom: 2%;
  object-fit: contain;
}

h4 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2.5%;
}

@media only screen and (min-width: 1024px) {
  #about {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #about img {
    max-height: none;
  }

  #boxes img {
    width: 20%;
  }
}
