* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gothic A1, Hind, Inter, Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3.65rem;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.25rem;
  background: linear-gradient(
    to left,
    #492d82 60%,
    rgba(217, 217, 217, 0) 80.08%
  );
  z-index: 100;
}

#navbar ul {
  display: flex;
  margin: 0;
  position: relative;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 400;
}

#navbar li {
  list-style-type: none;
}

#navbar li p {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem;
  color: white;
  transition: 0.2s background-color ease-in-out;
}

#navbar li a {
  padding: 1rem 0;
  margin: 0 1rem;
  position: relative;
  display: block;
  text-underline-offset: 0.5rem;
}

#navbar li a.selected {
  text-decoration: underline;
  pointer-events: none;
}

#navbar li p,
#navbar li a {
  color: white;
  transition: 0.2s background-color ease-in-out;
}

#navbar li a:not(.selected)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.75rem;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.225s ease-out;
}

#navbar li a:not(.selected):hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#navbar li.expand a {
  width: fit-content;
  margin: 0 !important;
}

#navbar li.expand img {
  width: 1rem;
}

#navbar li.expand div {
  position: relative;
  display: none;
  width: 0;
  padding: 0 0.5rem;
  background-color: #492d82;
}

#navbar li.expand:hover div {
  display: block;
}

#home-pressable {
  display: block;
  z-index: 10;
  margin: 0.5rem;
}

#home-logo {
  width: 8rem;
  cursor: pointer;
}

#big-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

#title-container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: 100vh;
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  z-index: 0;
}

#title-container video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(50%);
}

@media only screen and (orientation: portrait) {
  #title-container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 0;
    /* aspect-ratio: 16 / 10; */
    /* background-image: url(img/team-photo.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding-top: 66.67%;
    /* filter: brightness(35%); */
    z-index: 0;
  }

  #background-video {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    filter: brightness(45%);
    z-index: -1;
  }
}

#big-title h1 {
  text-align: center;
  display: inline-block;
  font-size: 6rem;
  margin-bottom: 0;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 400;
  z-index: 10;
}

#big-title h2 {
  font-size: 30px;
  display: inline-block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 200;
  z-index: 10;
}

#big-title {
  width: 100%;
}

h3 {
  margin-left: 4%;
  margin-right: 0%;
  margin-top: 3%;
  font-family: "Gothic A1", sans-serif;
  margin-bottom: 2%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.title {
  overflow: hidden;
  font-size: 2rem;
}

.title > span {
  position: relative;
  display: inline-block;
}

.title > span:before,
.title > span:after {
  content: "";
  position: absolute;
  margin: 0 2vw;
  top: 30%;
  right: 0;
  border-top: 1.5vw solid #b8a67b;
  border-right: 2.5vw solid transparent;
  height: 100%;
  width: calc(90vw - 100%);
  float: none;
}

.title > span:before {
  right: 100%;
}

.title > span:after {
  left: 100%;
}

.grid-container {
  display: grid;
  place-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  grid-gap: 5%;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  row-gap: 0px;
  justify-content: center;
  align-items: center;
}

.grid-item {
  justify-content: center;
}

@media only screen and (orientation: landscape) {
  .grid-item p {
    resize: none;
    font-size: 1rem;
  }
}

@media only screen and (orientation: portrait) {
  .grid-item p {
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
  }
}

.grid-item img {
  width: 45vw;
  height: 25vw;
  object-fit: cover;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.25rem;
  background-color: #492d82;
  box-sizing: border-box;
}

footer a,
footer svg {
  color: white;
  height: 2rem;
  width: 2rem;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
