body {
  -webkit-text-size-adjust: auto;
}

#admin, #members {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media only screen and (orientation: landscape) {
  .member img {
    object-fit: cover;
    /* aspect-ratio: 1 / 1; */
    height: 100%;
    width: 20vw;
    height: 20vw;
    min-width: 290px;
    min-height: 290px;
  }

  select {
    font-size: 3em;
  }

}

@media only screen and (orientation: portrait) {
  .member img {
    object-fit: cover;
    /* aspect-ratio: 1 / 1; */
    width: 50vw;
    height: 50vw;
  }

  select {
    font-size: 3vw;
  }
}

.member {
  /* min-width: 10%; */
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0.5%;
  position: relative;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*
.member::after {
  content: "";
  display: block;
} */

.member-photo {
  background-color: #492D82;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
}

.member {
  font-size: 50%;
}

.member h4 {
  word-break: break-word;
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Hind', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 4em;
  margin-bottom: 0;
  margin-top: 2.5%;
}

.member h5 {
  word-break: break-word;
  color: #6E6767;
  margin-top: 2.5%;
  font-family: 'Gothic A1', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3em;
}


select {
  background: transparent;
  background-image: url(img/polygon.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: transparent;
  color: white;
  padding-right: 2.75rem;
  appearance:none;



  /* width: 100%; */
}

optgroup {
  font-size: 100em;
}

option {
  font-size: 10px;
}

#big-title div {
  display: flex;
  justify-content: center;
  align-items: center;
}

